function Main.main 1
call SquareGame.new 0
pop local 0
push local 0
call SquareGame.run 1
pop temp 0
push local 0
call SquareGame.dispose 1
pop temp 0
push constant 0
return
function Main.more 4
push local 0
push local 1
neg
call Math.multiply 2
pop local 0
push local 1
push constant 2
neg
call Math.divide 2
pop local 1
push local 0
push local 1
or
pop local 0
push constant 0
return